body {
    font-family: 'Audiowide', cursive;
  }

h1, h2 {
    color: white
}

a {
    color: white;
    text-decoration: none;
}

footer {
    font-family: 'Abel', sans-serif;
    background-color: black;
}